# Data files
data/raw
data/processed
data/source

#Report and figures can be regenerated
docs/reports/

# Pipelines and serialized models will be regenerated
*.joblib
*.pkl
__pycache__/

# OS metadata
.DS_Store

# Test coverage cache
.coverage

# Local environment file
.env

# IDE configs
.vscode/
